.AnswerItem {
  border: 1px solid #fefefe;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgba($color: #fefefe, $alpha: 0.25);
    transition: 0.3s background ease;
  }
}
